<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Trade_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-trade_no" data-rule="required" readonly class="form-control" name="row[trade_no]" type="text" value="{$row.trade_no|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Out_trade_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-out_trade_no" data-rule="required" readonly class="form-control" name="row[out_trade_no]" type="text" value="{$row.out_trade_no|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Data')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-data" data-rule="required" readonly class="form-control " rows="8" name="row[data]" cols="70">{$row.data}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Createtime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-createtime" data-rule="required" readonly class="form-control datetimepicker" name="row[createtime]" type="text" value="{$row.createtime}">
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
